<li>
  <div class="row">
    <div class="col s9">
      <p>{{ burger_name }}</p>
    </div>
    <div class="col s3">
      {{#unless devoured}}
      <button class="devour btn-small waves-effect waves-light" data-id={{id}} data-devoured={{devoured}}>Devour!</button>
      {{/unless}}
    </div>
  </div>
</li>