h1 {
    color: Black;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.addHeader {
    margin-bottom: 20px;
    margin-top: 20px; 
}

.container {
    text-align: center;
    margin-top: 3px;
}

.devour, .addBurger {
    color: beige;
    background-color: black;
    margin: 5px;
}

#available {
    color: green;
}

#devoured {
    color: red;
}

ul {
    list-style-type: none;
}

.col-md-6 {
    border: 2px solid black;
}

p {
    font-size: 18px;
}

